@import "bootstrap/bootstrap";

.section {
    margin-bottom: 150px;
    &--top {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../img/top-bg.png');
        min-height: 100vh;
        width: 100%;
        margin-bottom: 250px;

        & .container {
            min-height: 100vh;
        }
    }
    &--contact {
    }
}

.border {
    &-10 {
        border-width: 10px !important;
    }
}

.title {
    position: relative;
    transform-style: preserve-3d;
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        margin-top: 15px;
        background-color: theme-color("secondary");
        width: 68px;
        height: 21px;
        transform: translateZ(-1px);
    }
}

.btn {
    &--main {
        background-color: theme-color("secondary");
        color: color('white');
        right: 0;
        bottom: -$font-size-sm * 2;
    }
}

.text {
    &--sm {
        font-size: $font-size-sm;
    }
}

.icon {
    font-size: $h1-font-size;
    font-weight: 100;
}

.list-group-item.active {
    background-color: theme-color("secondary");
    color: color('white');
    border-radius: 0;
}

.grid-sizer, .grid-item {
    width: 30%;
}

.grid-item {
    margin-bottom: $font-size-base;
}